<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>jquery-richselect by lmarcon</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
		<link rel="stylesheet" type="text/css" href="css/richselect.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>jquery-richselect</h1>
        <p>Image/HTML support in select options and opgroups</p>

        <p class="view"><a href="https://github.com/lmarcon/jquery-richselect">View the Project on GitHub <small>lmarcon/jquery-richselect</small></a></p>


        <ul>
          <li><a href="https://github.com/lmarcon/jquery-richselect/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/lmarcon/jquery-richselect/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/lmarcon/jquery-richselect">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>Quick usage</h3>

{% highlight javascript %}
$(function(){
	$('#mySelect').richselect();
});
{% endhighlight %}

<h3>Markup</h3>

{% highlight html %}
<select id="mySelect-1" class="richs">
	<option selected="selected" value="-1">Select your option</option>
	<optgroup data-icon="imgs/administrator.png" label="category 1">
		<option>One</option>
		<option value="myVal2">Two</option>
		<option>Three</option>
	</optgroup>
	<optgroup data-icon="imgs/angel.png" label="category 2">
		<option>Four</option>
		<option>Five</option>
	</optgroup>
	<option>Six</option>
</select>
{% endhighlight %}

<h3>Result</h3>

<select id="mySelect">
	<option selected="selected" value="-1">Select your option</option>
	<optgroup data-icon="imgs/administrator.png" label="category 1">
		<option>One</option>
		<option value="myVal2">Two</option>
		<option>Three</option>
	</optgroup>
	<optgroup data-icon="imgs/angel.png" label="category 2">
		<option>Four</option>
		<option>Five</option>
	</optgroup>
	<option>Six</option>
</select>

<br /><br />

<h3>TODO</h3>

<li>Fix width issues</li>
<li>Add more parameters to customize highlight, etc.</li>


      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/lmarcon">lmarcon</a></p>
				<p>Last update: 10 Oct 2013</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://raw.github.com/lmarcon/jquery-richselect/master/js/richselect.js"></script>
		<script>
		$(function(){
			$('#mySelect').richselect();
		});
		</script>
  </body>
</html>
